@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', 'Montserrat', sans-serif;
    overflow-x: hidden;
    z-index: 1;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header{
    height: 100vh;
    background: #222 url(../img/header.png) no-repeat top center fixed;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 100vh;
    color: white;
    padding: 0;
}

.navigation-container{
    padding-top: 2.5em;
    padding-bottom: 2em;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: fixed;
    background-color: transparent;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}

.navigation-container .row{
    display: flex;
}

.logo-container{
    font-weight: 700;
    font-size: 1.5em;
    margin-top: -0.5em;
    color: white;
    text-decoration: none;
}

.menu{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.menu__link{
    color: black;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 700;
}

.menu__link:hover{
    color: red;
}

.toggle-mnu{
    display: none;
}

.container-text{
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    display: inline-block;
    top: 35%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 400;
}

.container-text h1{
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 5px;
}

.container-text h3{
    font-weight: 400;
    color: #c8acaa;
    padding-bottom: 25px;
}

.container-text a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid white;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.container-text a:hover{
    color: red;
    background-color: #fff;
}

.btn{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2em;
}

.services{
    width: 100%;
    height: auto;
}

section{
    padding-top: 4%;
    padding-bottom: 4%;
}

.section_description{
    text-align: center;
    padding-bottom: 60px;
}

.section_description h1{
    color: #555555;
    font-size: 2.5em;
    margin-bottom: 2px;
}

.line {
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: #555555;
}

.active{
    color: orangered;
}

.section_description p{
    color: #555555;
}

.services-content{
    width: 100%;
}

.services-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #555555;
    justify-content: space-between;
}

.service-item {
    text-align: center;
    max-width: 400px;
    padding-left: 2.5%;
    width: 30%;
    margin-right: 2.5%;
}

.about{
    background: #f8f8f8;
    padding-left: 10%;
    padding-right: 10%;
}

.about-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-text {
    width: 33%;
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.2em;
}

.red{
    color: red;
}

.green{
    color: #072704;
}

.about-text h3{
    text-align: center;
    color: #072704;
}

.human{
    text-align: center;
}

.works{
    height: auto;
    background: #222;
}

.name{
    color: #555;
    letter-spacing: 1px;
    font-weight: 700;
}

.name span{
    text-transform: uppercase;
}

.works .section_description{
    margin-top: 2%;
    margin-bottom: 2%;
}

.works .section_description > h1 ,.works .section_description > p {
    color: #fafafa;
}

.works-container{
    display: flex;
    justify-content: center;
}

.works > .section_description{
    margin-bottom: -50px;
}

.portfolio{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.works-philters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    min-width: 50%;
    color: #555555;
    padding: 0;
    text-transform: uppercase;
}

.work-philter {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.work-philter:hover {
    color: red;
}

.portfolio-items{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-item{
    min-width: 370px;
    min-height: 230px;
    display: none;
    margin: 5px;
    padding: 0;
}

.work-description{
    background: rgba(210,108,96, 0.7);
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 20%;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.portfolio-item:hover .work-description{
    opacity: 1;
}

.work-description h3 {
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 0;
}

.work-description p {
    font-weight: 400;
    color: #e7ccc9;
    font-family: 'Roboto Slab', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

.work-more{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 7px 20px;
    background: white;
    color: #c0301c;
}

.it1{
    background: url(../img/work-1.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.it2{
    background: url(../img/work-2.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.it3{
    background: url(../img/work-3.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.it4{
    background: url(../img/work-4.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.it5{
    background: url(../img/work-5.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.it6{
    background: url(../img/work-6.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

/*.it7{
    background: url(../img/work-7.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.it8{
    background: url(../img/work-8.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}*/


.section-free{
    width: 100vw;
    height: 20em;
    padding-top: 50px;
    background: #222;
    -webkit-background-size: cover;
    background-size: cover;
}

.section-text{
    color: white;
    text-align: center;
}

.section-text a{
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 1em;
    border: 2px solid white;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.section-text a:hover{
    color: red;
    background-color: #fff;
}

.contact-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.contact-info{
    min-width: 50%;
    font-size: 1.2em;
}

.contact-info{
    color: #555;
}

.info-s{
    display: flex;
    flex-direction: column;
}

.info-s:not(:first-child){
    margin-top: 10px;
}

.info-s p{
    display: inline-block;
    margin-left: 10px;

}

.text-wrap{
    margin-top: 0.5em;
    padding-left: 30px;
}

.fa-wrap {
     margin-left: 180px;
 }

.fa-map-marker{
    font-size: 2em;
}

.fa-skype{
    font-size: 2em;
    margin-top: -3px;
}

.fa-telegram{
    font-size: 1.6em;
    margin-top: 0px;
}

.fa-envelope {
    font-size: 1.7em;
}

.fa-github{
    font-size: 1.7em;
}

.fa-id-card-o{
    font-size: 1.6em;
}

.fa-facebook-square{
    font-size: 1.7em;
}